*{
   box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
}

header nav ul{
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 0.5rem;
}

header nav ul li a{
    display: inline-block;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: darkgreen;
    
}


p{
    line-height: 1.5em;
}

header div h1{
    margin: 0px;
    font-size: 1.1rem;
    color: white;
}

header div img{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0.1rem 0.5rem;
}



header nav ul a:hover{
    background-color: beige;
    color: black;
}

.contenedor{
    max-width: 1024px;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    }

.card{
    width: 320px;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 3px 5px 5px #000;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .cardBody{
    padding: 0.5rem;
}

.card .cardFooter button{
    background-color: darkcyan;
    color: white;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 0.85rem 0.75rem;
}

.demoEMRem {
    font-size: 2rem;
}

.demoEMRem p {
    font-size: 2rem;
}

.listaspuntos{
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}


.listaspuntos li{
    margin: 1rem 0rem;
}

.listaspuntos li div{
    background-color: darkcyan;
    padding: 0.8rem 0.5rem;
    color: white;
    border: 1px solid black;
    width: 200px;
}

.listaspuntos li div img .listaspuntos li div span{
    display: block;
}

.listaspuntos2{
    list-style: none;
    padding: 10px;
}